spring:
  datasource:
    url: jdbc:h2:mem:stylehomesdb
    driver-class-name: org.h2.Driver
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

logging:
  level:
    com.stylehomes: DEBUG
    org.springframework.web: DEBUG
